.App{
    height: 100vh;
    padding-top:10px;
    background: rgb(142,141,158);
    background: linear-gradient(137deg, rgba(142,141,158,1) 17%, rgba(60,60,69,1) 59%, rgba(0,11,13,1) 100%);
    font-family: Lato, sans-serif;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}

.freecodecamp-logo-contenedor{
    width:100%;
    height: 20px;
    margin:0;
    display:flex;
    align-items: center;
    justify-content:center;
}

.freecodecamp-logo{
    height: 110px;
}

.contenedor-calculadora{
    width:400px;
    height:600px;
    padding:14;
    background-color:#5a5e62;
    border-radius:20px;
    border:5px solid white;
}

.fila{
    margin:4px;
    display:flex;
    align-items:center;
    justify-content: center;

}
